.menuItem{
    display: flex;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    /* justify-content: center; */
    flex-direction: row;
}
.icon{
    margin: 5px;
}

.menuItem:hover{
    background-color: red;
    border-radius: 15px;
}
.text{
    color: white;
}
